.container {
    margin-top: 5%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../public/Assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.7;
}

.inner-container {
    padding: 2.5rem;
    border-radius: 0.75rem;
    border-width: 1px;
    max-width: 25%;
    min-width: 20rem;
    background-color: #F3F4F6;

}

.btn {
    margin-top: 30px;
    width: 100%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    background-color: rgb(122, 122, 234);
    border: none;
    font-weight: 600;
    font-size: 15px;





}

.logo-container {
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: center;
}

.logo {
    display: inline-block;
    width: 100%;
    max-width: 100px;
}

.heading {
    margin: 0 0 0 0px;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;

}

.title {
    margin: 0%;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
}

.signuplink {

    position: relative;
    text-decoration: none;


}


.signuplink:hover {
    text-decoration: underline;
}

.input-div {
    /* margin-top: 1.25rem;  */
    width: 100%;
    display: inline-block;
    padding-left: 0.25rem;
    margin-bottom: 0.25rem;
}

.input {
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #E5E7EB;
    outline-style: none;
    width: 100%;
    color: #000000;
    background-color: #ffffff;
    transition-duration: 200ms;
    font-size: 16px;
    font-weight: 500;
}

input::placeholder {
    font-weight: 200;
    font-size: 15px;
    /* padding-left: 12px; */
}

.label {
    margin-top: 1.25rem;
    display: flex;
    justify-content: left;
    /* padding-left: 0.20rem;  */
    margin-bottom: 0.25rem;
    font-weight: 500;
    font-size: 18px;
}